.stage {
   perspective: 800px;
   transform-style: preserve-3d;
}

p.hint {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
}

.card {
   position: relative;
   width: 10em;
   height: 16em;
   border-radius: 0.75em;
   background-color: hsl(0, 0%, 16%);
   color: white;
   overflow: hidden;
   margin: auto;
   transform: rotateX(var(--rx)) rotateY(var(--ry)) scale(1.5);
   backface-visibility: hidden;
   will-change: transform;
}

.content {
   display: flex;
   flex-direction: column;
   padding: 1.25em 0.75em;
   z-index: 2;
}

.content,
.foil,
.glare {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.foil {
   --factor: -0.015;
   background-image:
      repeating-linear-gradient(
         35deg,
         hsl(40 100% 50%) 0%,
         hsl(55 100% 50%) 1%,
         hsl(120 100% 50%) 2%,
         hsl(200, 100%, 50%) 3%,
         hsl(300 100% 50%) 4%,
         hsl(40 100% 50%) 5%
      );
      /* radial-gradient(
         farthest-corner circle at var(--x) var(--y),
         hsl(0 0% 100%) 0%,
         hsl(0 0% 20%) 20%,
         hsl(0 0% 10%) 50%,
         hsl(0 0% 40%) 300%
      ); */
   background-blend-mode: multiply;
   background-position:
      calc(50% + ((var(--x) / 18) - (var(--y) / 18))) 0,
      center;
   background-size: calc(100% * 20 * 2), 100%;
   mask-image: url('data:image/svg+xml;utf8,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><g stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M12 0H44M44 0L32 -12M44 0L32 12"/><path d="M12 56H44M44 56L32 44M44 56L32 68"/><path d="M-16 28H16M16 28L4 16M16 28L4 40"/><path d="M40 28H72M72 28L60 16M72 28L60 40"/></g></svg>');
   mask-position: calc(50% + ((var(--x) - 50%) * var(--factor)))
      calc(50% + ((var(--y) - 50%) * var(--factor)));
   mask-size: 32px;
   filter: brightness(1.1) contrast(1.25) saturate(2);
   mix-blend-mode: plus-lighter;
   will-change: background-image, background-position;
}

.glare {
   /* background-image: radial-gradient(
      farthest-corner circle at var(--x) var(--y),
      hsla(200, 20%, 100%, 0.6) 0%,
      hsla(200, 60%, 2%, 1) 250%
   ); */
   filter: brightness(1) contrast(1.2) saturate(1.5);
   mix-blend-mode: overlay;
   will-change: background-image;
}

/* :root {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #c0c6ce;
  color: #21262e;
  font-family: ui-sans-serif, system-ui;
  overflow: hidden;
} */

*,
*::before,
*::after {
   box-sizing: inherit;
}
